footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 128, 0, 1);
  border-top: 2px solid rgba(128, 128, 128, 0.342);
  padding: {
    top: 3rem;
    bottom: 4.5rem;
  }

  // overflow: hidden;

  .footer-wrapper {
    min-height: 10rem;
    margin-top: 3rem;
    font-size: 1rem;
    color: black;
    margin: auto;
    display: flex;
    flex-direction: column;

    .container-bottom {
      padding: {
        left: 3rem;
        right: 3rem;
      }
      display: flex;
      gap: 3rem;
      flex-wrap: wrap;
    }
  }

  .row {
    flex: 1 1 max-width;

    @media (max-width: 600px) {
      width: 100%;
    }

    &.kantor-kami {
      p {
        margin: 0;
        width: 30rem;
        max-width: 100%;
      }
    }

    a {
      p {
        margin: 0;
        margin-block: 0;
        display: flex;
        gap: 0.5em;
        align-items: center;
      }
    }
  }

  .copyright {
    width: 100%;
    margin-top: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: rgb(51, 51, 51);
  }
}
