footer {
  // background-color: red;
  width: 100%;

  .wrapper {
    // background-color: yellow;
    @extend .base__page-wrapper;
    width: 100%;

    @extend .flex-center;
    flex-wrap: wrap;
    flex-direction: column;

    .footer-main-content {
      width: 100%;
      @extend .flex-center;
      justify-content: space-around;
      gap: 2rem;
      // flex-wrap: wrap;
      max-width: 60rem;

      .footer-item-container {
        max-width: 15rem;
        min-width: 8rem;
        flex: 1 1 max-content;
        align-self: flex-start;

        @extend .flex-center;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;

        // background-color: red;

        &.kantor-kami {
          flex: 1 1 100%;
          max-width: 100%;
          // background-color: yellow;
          p {
            color: darkgrey;
          }
        }

        .title {
          font-size: 1.1em;
          font-weight: normal;
          width: 100%;
        }

        .content {
          font-size: 0.9em;
          width: 100%;
        }

        .item-container {
          width: 100%;
          @extend .flex-center;
          justify-content: flex-start;
          gap: 0.5rem;

          color: darkgrey;

          .icon-container {
            width: 1.5rem;
            height: 1.5rem;
            color: darkgrey;

            @extend .flex-center;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          &:hover {
            .icon-container {
              color: black;
            }
            color: black;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;

        .footer-item-container {
          max-width: unset;
          min-width: unset;
          width: max-content;

          .kontak-kami {
            p {
              background-color: yellow;
            }
          }
        }
      }
    }
    .copyright {
      padding: 2rem;
      width: 100%;
      font-size: 0.9em;
      font-weight: 300;
      text-align: center;
    }
  }
}
