footer {
    min-height: 5rem;
    margin-top: 3rem;
    font-size: 1rem;

    font-weight: bold;
    color: white;
    background-color: green;


    display: flex;
    justify-content: center;
    align-items: center;
}