nav {
    background-color: white;
    min-height: max-content;
    padding: 0 3rem 0 3rem;
    position: static;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        max-width: 5rem;
        height: auto;
    }

    .nav-link-container {
        min-width: 10rem;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;

        a {
            text-decoration: none;
            color: inherit;
        }

        .link-nav {
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: bold;
            padding: .5em 1em .5em 1em;

            &:hover {
                border-radius: 8px;
                background-color: green;
                color: white;
            }
        }
    } 
}