nav {
    width: 100%;
    background-color: white;
    min-height: max-content;
    padding: 0 3rem 0 3rem;
    position: static;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        max-width: 5rem;
        height: auto;
    }

    .nav-link-container {
        min-width: 10rem;
        height: 100%;
        color: white;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;

        a {
            text-decoration: none;
            color: inherit;
            background-color: green;
            padding: 1px;
            border-radius: 8px;
        }

        .link-nav {
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: bold;
            padding: .5em 1em .5em 1em;

            &:hover {
                border-radius: 8px;
                background-color: rgb(3, 187, 3);
                color: white;
            }
        }
    } 

    @media (max-width: 400px) {
        flex-direction: column;
    }
}

.nav-wrapper {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 400px) {
        padding: 2rem 0 2rem 0;
    }
}