#home {
  width: 100%;

  .card-section {
    width: 100%;

    @extend .base__page-wrapper;
    @extend .base-wrapper__height;

    .card-section__title {
      @extend .base__title;

      margin-bottom: 2rem;
    }

    .home-card-section {
      max-width: 100%;
      position: relative;
      @extend .flex-center;

      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    width: 100%;

    .contact-list-item-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 700px) {
        flex-direction: column;
      }
    }
  }
}
